.gridContainer {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 2%;
  grid-template-rows: 30% 68%;
  grid-row-gap: 2%;
}

/* This overrides semantics default margin for segments */
.ui.segment {
  margin: 0;
}

.leftColumn {
  grid-row-start:1;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:3;
}
