.warning {
  width: 85%;
  margin-top: 10vmax !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Abril Fatface", cursive !important;
  padding-bottom: 5vmax !important;
}
.four {
  font-size: 20vmax;
  line-height: 1em;
}
.sorryMessage {
  margin-top: 1em;
  font-size: 42px;
  line-height: 1.2em;
}
