.favoritesDisplay {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.helpSearch {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.favoritesHolder {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.favoritesItem {
  margin-right: 0.3em !important;
}
.favoritesTitle {
  font-size: 1.8em;
  line-height: 1.8em;
}
.favoritesHeader {
  padding-top: 0 !important;
}
@media only screen and (max-width: 768px) {
  .favoritesTitle {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  /* .favoritesHolder{
    height: 90%;
  } */
}
