.NavBar {
  width: 102%;
  margin-bottom: 2rem;
}
.ui.menu {
  padding-left: 2%;
}

@media only screen and (max-width: 767px) {
  .ui.menu {
    padding-left: 0;
  }
  .NavBar{
    margin-bottom: 1vh;

  }
}
