.reportsSearch {
  grid-area: search;
  position: relative;
}
.searchButton {
  grid-area: searchButton;
  margin-right: 0 !important;

}
.chart {
  grid-area: tabbedChart;
  align-self: end;
  height:95%;
}
.chartArea{
  height:93%;
}
.dateSelect{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#from{
  grid-area: from;
}
#to{
  grid-area: to;
}
.reportDateInput{
  width: 100%;
}
.stock{
  grid-area: stock;

}
.reportsContainer {
  width: 90%;
  height: 100%;
  padding: 1rem 2rem !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 80%;
  grid-column-gap: 2rem;
  /* grid-template-areas:
    "stockname favoriteStar search . ."
    "leftInfoColumn rightInfoColumn . . targetScore"
    "tabbedChart tabbedChart tabbedChart tabbedChart tabbedChart"; */
  grid-template-areas:
    "stock stock stock search search search searchButton"
    "stock stock stock from from to to"
    "tabbedChart tabbedChart tabbedChart tabbedChart tabbedChart tabbedChart tabbedChart";
  align-items: center;
}
.tabArea{
  height:100%
}
.none{
  display:none!important;
}
.tabSelectSmall{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
}
.reportsSearch{
  font-size: 24px;
}
@media only screen and (max-width: 768px), (max-height: 768px) {
  .reportsContainer {
    padding: .5rem 1rem 0 !important;
    width: 90%;
    height: calc(100% - 1rem);
    grid-template-columns: calc(50% - .5rem)  calc(50% - .5rem);
    grid-template-rows: 10% 10% 10% 7% 18% 40%;
    grid-column-gap: 1rem;
    grid-template-areas:
      "search search"
      "from from" 
      "to to" 
      "searchButton searchButton"
      "stock stock"
      "tabbedChart tabbedChart";
  }
  .dateSelect{
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }
  .reportDateInput{
    width: 75%;
  }
  .ui.big.button, .ui.big.buttons .button, .ui.big.buttons .or{
    font-size:1rem;
  }
 .reportsSearch{
   font-size: 16px;
 }
  .tabArea{
    height:90%
  }
  .ui.tab.chartArea{
    padding: .5rem !important;
  }
  .stock{
    padding: 0 !important;
  }
}
@media only screen and (max-height: 600px) and (orientation: landscape) {

  .reportsContainer {
    grid-template-rows: 3em 4em 4em 2em 7em 30em;

overflow-y: auto;  }
}