.bannerImage {
  height: 30vmax;
  max-height: 30em;
  width: 100% !important;
  background-image: url("../../images/pexels-photo-210607.jpeg");
  /* https://www.pexels.com/photo/stock-exchange-board-210607/ */
  background-repeat: no-repeat;
  background-color: black;
  margin-bottom: 2vmax;
  background-size: cover;
}

.frontPageBox {
  width: 50em;
  margin-left: auto !important;
  margin-right: auto !important;
}

.frontPageBox p {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.centerList {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .ui .list {
  margin: 0;
  padding: 0;
}

div .ui .list:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .frontPageBox {
    width: 90%;
  }
}
