.stockName {
  grid-area: stockname;
  margin-bottom: 0px;
  color: black;
}
.favoriteIcon {
  grid-area: favoriteStar;
  justify-self: end;
}

.leftColumnInfobox {
  grid-area: leftInfoColumn;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.rightColumnInfobox {
  grid-area: rightInfoColumn;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-self: end;
}
.middleColumnInfobox {
  grid-area: middleInfoColumn;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  justify-self: center;
}
.stock {
  margin: 0.5em 0;
  display: grid;
  padding: 0.7rem;
  height: 100%;
  align-items: center;
  grid-row-gap: 0.5em;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "stockname stockname favoriteStar"
    "leftInfoColumn middleInfoColumn rightInfoColumn";
  grid-area: stock;
}

@media only screen and (max-width: 767px) {
  .stock {
    grid-template-columns: 33% 33% 16.5% 16.5%;
    grid-template-areas:
    "stockname stockname stockname favoriteStar"
    "leftInfoColumn middleInfoColumn rightInfoColumn rightInfoColumn";
    margin: 0;
    grid-row-gap: .6em;
    grid-template-rows: calc(60% - .6em) 40%;
    padding: inherit;

  }
  /* .upperRowInfobox{
    text-align: center;
  } */
  h3.stockName{
    padding-left: 0!important;
    font-size: 16px !important;
  }
  h1.stockName {
    font-size: 18px !important;
  }
  .favoriteIcon {
    font-size: 18px !important;
  }
  .lowerRowInfobox{
    display:none;
  }
}
