.lowerPageLayout {
  display: flex;
  height: 93%;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .lowerPageLayout {
    height: calc(95% - 27px);
  }
}
