.helpContainer {
  width: 90%;
  display:flex;
  flex-direction: column;
  height: 100%;

}
.articlesDisplay {
  height: calc(100% - 60px);
}
.helpSearch{
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.searchItem{
  width: 98%;
  
}
.ui.list>.item{
  padding: .4em 0 !important;
}
@media only screen and (max-width: 768px) {
  .articlesDisplay {
    overflow-y: auto;
  }
.helpContainer{
  height: calc(100% - 1rem);
}
}