.logoContainer {
  display: flex;
  align-items: center;
}
.logoText {
  margin-left: 1em;
}



.signoutContainer{
  display:flex; 
  justify-content: space-between;
  align-items: center;
  font-size:20px;
}
.currentUserText{
  margin-right: 1em;
}